$font-montserrat: 'Montserrat', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-quicksand: 'Quicksand', sans-serif;

$base-font: 14px;

$white-color-text: #fff;

$white-bg:#fff;
$black-bg:#000;
